.box{
    height: 404px;
    width: 281.66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    padding: 50px;
    border: solid 3px #6091d3;
    border-radius: 10px;
    margin: 30px;
    color: black;
}

.project_all{
    height: 360px;
    width: 250.66px;
}

.project_image{
    height: 159.77px;
    width: 250.66px
}

.project_title{
    height: 58px;
    width: 250.66px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.project_now{
    width: 250.66px;
    height: 110px;
    text-align: left;
    background-color: cadetblue;
    border-radius: 10px;
}

.show_title{
    width:  1200px;
    height: 145.11px;
    text-align: center;
    color: black;
    font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
    font-size: large;
    padding: 20px;
}

.show_image{
    width: 650px;
    height:432.95px;
    margin: 20px;
    float: left;
    padding: 20px;
}

.show_overview {
    width: 650px;
    height: 126px;
    position:relative;
    top: 500px;
    background-color: #f6f8fa;
    box-shadow: #e3e4e8 0 4px 0;
    border-radius: 5px;
    padding: 20px;
}

.overview_text{
    width: 640px;
    height: 120px;
    position: absolute;
    margin: 30px;
    font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
    text-align: left;
    color: black;
    font-size: medium;
}

.now_box{
    width: 424px;
    height: 455px;
    position:relative;
    left: 650px;
    bottom: 130px;
    padding: 15px;
}

.show_now{
    width: 415px;
    height: 435px;
    position: absolute;
    margin: 30px;
    background-color: #f6f8fa;
    box-shadow: #e3e4e8 0 4px 0;
    border-radius: 5px;
}

p.now{
    width: 415px;
    height: 130px;
    padding: 10px;
    font-family: "Open Sans", "Myriad", Helvetica, Arial, "Noto Sans JP", sans-serif;
    color: black;
    font-size: 40px;
    text-align: center;
}

.now_now{
    background-color: lightyellow;
    border-radius: 10px;
}

.show_support{
    width: 300px;
    height: 79px;
    position:relative;
    left: 760px;
    bottom: 60px;
    background-color: mediumpurple;
    border-radius: 5px;
}

.support_text{
    text-align: center;
    position:relative;
    top: 25px;
    font-family: sans-serif;
    color: white;
}
