.box{
    height: 404px;
    width: 281.66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    padding: 50px;
    border: solid 3px #6091d3;
    border-radius: 10px;
    margin: 30px;
}

.project_all{
    height: 360px;
    width: 250.66px;
}

.project_image{
    height: 159.77px;
    width: 250.66px
}

.project_title{
    height: 58px;
    width: 250.66px;
    text-align: center;
    color: red;
    font-weight: normal;
    font-size: 12px;
}
